<<<<<<< HEAD
.gfg {
    margin: 3%;
    position: relative;
    height: 700px;
    width: 614px;
}

.first-txt {
    font-family: monospace;
    font-size: large;
    position: absolute;
    line-height: 2em;
    top: 100px;
    left: 30px;
    color: rgb(255, 255, 255);
    width: 550px;
    white-space: pre-line;
    text-align: justify;
=======
.gfg {
    margin: 3%;
    position: relative;
    height: 700px;
    width: 614px;
}

.first-txt {
    font-family: monospace;
    font-size: large;
    position: absolute;
    line-height: 2em;
    top: 100px;
    left: 30px;
    color: rgb(255, 255, 255);
    width: 550px;
    white-space: pre-line;
    text-align: justify;
>>>>>>> 47c9c9ba1c4bf9f287913d6829867b9e53bd970f
}