<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Technology News Post</title>
</head>
<body>
    <div style="width: 614px; height: 700px; position: relative;">
        <img src="" alt="bgimage" id="bg">
        <span style="position: absolute; color:aliceblue; white-space: pre-line; font-size:large; top:200px; left:70px; width: 500px;">{{News|safe}}</span>
    </div>

    <script>
        var newbg=document.getElementById("bg");
        var background=new Image();
        background.src="static/images/" + (Math.floor(Math.random()*(5))+1) + ".png";
        newbg.src=background.src;
    </script>
</body>
</html>